



.TopFixedBanner {
    background-image: url("../image/topbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    background-attachment: fixed;

}
.TopBannerOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 550px;
    padding: absolute;
    width: 100%;
}
.TopContent {
    padding-top: 200px; 
}
.TopTitle {
    font-family:'Montserrat ', sans-serif;
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    text-align: center;
}
.TopSubTitle {
    font-family:'Raleway ', sans-serif;
    font-size: 22px;
    color:#fff;
    font-weight: 600;
    text-align: center;
}
/* ===========Navbar style =========== */
.NavTitle{
    font-family:'Montserrat ', sans-serif;
    font-size: 24px;
    color:#fff !important;
    font-weight: 700;
}
.NavTitleScroll{
    font-family:'Montserrat ', sans-serif;
    font-size: 24px;
    color:#007ACC !important;
    font-weight: 700;
}
.navBackground{
    -webkit-transition:background-color 400ms linea ;
    -moz-transition:background-color 400ms linea ;
    -o-transition:background-color 400ms linea ;
    transition: background-color 400ms linear;
    background-color: rgba(00, 00, 00, 00.0) !important;
}
.navBackgroundScroll{
    -webkit-transition:background-color 400ms linea ;
    -moz-transition:background-color 400ms linea ;
    -o-transition:background-color 400ms linea ;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}
.NavDesign{
    padding-right: 20px;
}
.NavItem{
    font-family:'Montserrat ', sans-serif;
    font-size: 16px;
    color:#ffffff !important;
    font-weight: 600;
    text-decoration: none !important;
    border: none !important;
    padding-right: 10px;
}
.NavItemScroll{
    font-family:'Montserrat ', sans-serif;
    font-size: 16px;
    color:#000000 !important;
    font-weight: 600;
    text-decoration: none !important;
    border: none  !important;
    padding-right: 10px;
}






.ServiceMainTitle{
    font-family:'Montserrat ', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: #007ACC;
}
.ServiceName{
    font-family:'Raleway ', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 1rem;
}
.ServiceDescription{
    font-family:'Raleway ', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
    color: #484545E0;
}
.ServiceCard{
    margin: 5px 5ox 5px 5px;
    padding: 60px 30px 60px 30px;
    height: 22rem;
    box-shadow: 0 0 8px 0 rgba(0, 112, 230, 0.2);
}
.ServiceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0, 112, 230, 0.5);
}

.des{
    font-family:'Raleway ', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
    color: #484545E0;
    text-justify: auto;
}
/* ========Summary Style Css start===== */

.SummaryFixedBanner {
    background-image: url("../image/summarybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:350px;
    background-attachment: fixed;

}
.SummaryBannerOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 350px;
    padding: absolute;
    width: 100%;
}
.SummarySection{
    margin-top: 4rem;
}
.CountNumber{
    color: #ffffff;
    font-family:'Montserrat ', sans-serif;
    font-size: 48px;
    font-weight: 600;
}
.CountTitle{
    color:#ffffff;
    font-family:'Raleway ', sans-serif;
    font-size: 22px;
    font-weight: 600px;
}
.CountSection{
    margin-top:15% !important;
}

.CardWork{
    margin-top:15% !important;

}
.CardTitle{
    font-family:'Montserrat ', sans-serif !important;
    font-size:30px !important;
    font-weight: 800;
    text-align: left;
    padding-left: 5%;
}

.CardSubTitle{   
    font-family:'Raleway ', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 15%;
    padding:3px;
    margin: 0;
}
.IconBullet{
    font-size: 16px;
    color: #007ACC;
    padding-right: 5px;
}
/* =======================Recent Project css==================== */
.ProjectCard{
    border-radius: 2px;
    border:none !important;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.ProjectCard:hover{
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.ProjectCardTitle{
    font-family:'Montserrat ', sans-serif!important;
    font-size: 18px;
    font-family: 600 !important;

}
.ProjectCardDesc{
    font-family:'Raleway ', sans-serif!important;
    font-size: 14px;
    font-family: 600 !important;

}
/* =======================Cources section css====================== */
.CouserPartiton{
    padding: 10px;
    margin-top:20px;
}

.CourseImage{
    width: 100%;
}
.CourseTitle{
    font-family:'Montserrat ', sans-serif!important;
    font-size: 22x;
    font-family: 600!important;
}
.CourseDescription{
    font-family:'Raleway ', sans-serif!important;
    font-size: 15px;
    font-family: 600!important;
}
.CourseDetails{
    font-size: 'Raleway',sans-serif !important;
    font-family: 600!important;
    font-size: 20px;
    text-decoration: none;
}
/* =========================VIdeo Play Button============================ */
.VideoCard{
    margin: 50px auto;
    padding: 6rem 3rem 6rem 3rem;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.PlayBtn{
    font-size: 48px;
    cursor: pointer;
    color: #007ACC;
}
.VideoTitle{
    font-family:'Montserrat ', sans-serif!important;
    font-size: 22px;
    font-weight: 600;
    color: rgb(7, 5, 2);
}
.VIdeoDescription{
    font-family: 'Raleway'sans-serif !important;
    font-size: 15px;
    font-weight: 400;
}

/* ==========================Clent Review Section Css====================================*/
.ClientImage{
    margin: 0 auto;
    height: 100px;
    width:100px;
    border-radius: 50%;
    border:1px solid #007ACC;

}
/* =============================Footer css==================================== */
.FooterSection{
    text-justify: auto;
    padding-left: 20px;

}
.FooterInformationDesc{
    text-decoration: none;
    font-size: 15px;
    color:#5d5555;
    padding: 0px;
    margin: 0px;
}
.FooterSocialcon{
    text-decoration: none;
    font-size: 16px;
    color:#007ACC;
    text-align: left;
    padding-left: 10px;
    padding-right: 7px;
}

.ConpyRightsection{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
}
.ConpyRightsection:hover{
    text-decoration: none;
    color: #ffffff;
}


.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgba(245, 238, 238, 0.886) !important;
    background-color: #f9f3f300;
    border: var(--bs-border-width) solid rgb(242, 229, 229) !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }

  /* ================================Page Top Design================================= */

  .TopPageFixedBanner {
    background-image: url("../image/topbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    background-position: center;
    background-attachment: fixed;

}
.TopPageBannerOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 350px;
    padding: absolute;
    width: 100%;
}
.TopContent {
    padding-top: 160px; 
}
/* ======Conatact Page style */

forn-control:focus{
    border:2px !important;
    border: #007ACC;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}