



.TopFixedBanner {
    background-image: url("../image/topbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    background-attachment: fixed;

}
.TopBannerOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 550px;
    padding: absolute;
    width: 100%;
}
.TopContent {
    padding-top: 200px; 
}
.TopTitle {
    font-family:'Montserrat ', sans-serif;
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    text-align: center;
}
.TopSubTitle {
    font-family:'Raleway ', sans-serif;
    font-size: 22px;
    color:#fff;
    font-weight: 600;
    text-align: center;
}
/* ===========Navbar style =========== */
.NavTitle{
    font-family:'Montserrat ', sans-serif;
    font-size: 24px;
    color:#fff !important;
    font-weight: 700;
}
.NavTitleScroll{
    font-family:'Montserrat ', sans-serif;
    font-size: 24px;
    color:#007ACC !important;
    font-weight: 700;
}
.navBackground{
    -webkit-transition:background-color 400ms linea ;
    -moz-transition:background-color 400ms linea ;
    -o-transition:background-color 400ms linea ;
    transition: background-color 400ms linear;
    background-color: rgba(00, 00, 00, 00.0) !important;
}
.navBackgroundScroll{
    -webkit-transition:background-color 400ms linea ;
    -moz-transition:background-color 400ms linea ;
    -o-transition:background-color 400ms linea ;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}
.NavItem{
    font-family:'Montserrat ', sans-serif;
    font-size: 16px;
    color:#ffffff !important;
    font-weight: 700;
    text-decoration: none !important;
}
.NavItemScroll{
    font-family:'Montserrat ', sans-serif;
    font-size: 16px;
    color:#000000 !important;
    font-weight: 700;
    text-decoration: none !important;
}






.ServiceMainTitle{
    font-family:'Montserrat ', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 5rem;
    color: #007ACC;
}
.ServiceName{
    font-family:'Raleway ', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 1rem;
}
.ServiceDescription{
    font-family:'Raleway ', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
    color: #484545E0;
}
.ServiceCard{
    margin: 5px 5ox 5px 5px;
    padding: 60px 30px 60px 30px;
    height: 22rem;
    box-shadow: 0 0 8px 0 rgba(0, 112, 230, 0.2);
}
.ServiceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0, 112, 230, 0.5);
}

.des{
    font-family:'Raleway ', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1rem;
    color: #484545E0;
    text-justify: auto;
}
/* ========Summary Style Css start===== */

.SummaryFixedBanner {
    background-image: url("../image/summarybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:350px;
    background-attachment: fixed;

}
.SummaryBannerOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 350px;
    padding: absolute;
    width: 100%;
}
.SummarySection{
    margin-top: 4rem;
}
.CountNumber{
    color: #ffffff;
    font-family:'Montserrat ', sans-serif;
    font-size: 48px;
    font-weight: 600;
}
.CountTitle{
    color:#ffffff;
    font-family:'Raleway ', sans-serif;
    font-size: 22px;
    font-weight: 600px;
}
.CountSection{
    margin-top:15% !important;
}

.CardWork{
    margin-top:15% !important;

}
.CardTitle{
    font-family:'Montserrat ', sans-serif !important;
    font-size:30px !important;
    font-weight: 800;
    text-align: left;
    padding-left: 5%;
}

.CardSubTitle{   
    font-family:'Raleway ', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 15%;
    padding:3px;
    margin: 0;
}
.IconBullet{
    font-size: 16px;
    color: #007ACC;
    padding-right: 5px;
}
