.TopFixedBanner {
    background-image: url("../image/topbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    background-attachment: fixed;

}