.TopFixedBanner {
    background-image: url("../image/topbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    background-attachment: fixed;

}
.TopBannerOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 550px;
    padding: absolute;
    width: 100%;
}
.TopContent {
    padding-top: 200px; 
}
.TopTitle {
    font-family:'Montserrat ', sans-serif;
    font-size: 50px;
    color:#fff;
    font-weight: 700;
    text-align: center;
}
.TopSubTitle {
    font-family:'Raleway ', sans-serif;
    font-size: 22px;
    color:#fff;
    font-weight: 600;
    text-align: center;
}